<%= simple_form_for @group do |f|  %>
<div class="form-group">
  <div class="form-group string optional">
    <%= f.input :title, input_html: { class: "form-control"} %>
    <%= f.input :description, input_html: { class: "form-control"} %>
  </div>

<%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..." }  %>
<% end %>
